.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.detail img {
    max-width: 100%;
    height: 70px;
}
.modal{
    display: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    min-width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(15px);

}
.modalBox{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 4rem; */
    width: 98vw;
    max-width: 900px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(31, 31, 31, 0.4);
    height: 100%;
    max-height: 900px;
    background-image: url('/assets/img/pokeball.svg');
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right 160px top 200px;
    
}
/* styles hidden text */
.panel {
    display: none;
    width: 100%;
    height: 100%;
    
 }
 .headerDetails{
    padding:5rem 2.6rem 2.6rem 2.6rem;
    width: 100%;
    
 }
 .headerDetails .types{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: .4rem;
 }
 .headerDetails .type{
    font-size: 1.2rem;
    height: 100%;
    text-transform: capitalize;
    width: fit-content;
 }
 .detailsText{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: capitalize;
 }
 .detailsText .number{
    color: #fff;
    font-size: 1.5rem;
    align-self: flex-end;
    opacity: 1;

 }
 .dataDetails{
    width: 100%;
    height: 80%;
    background-color: #fff;
    border-radius:5rem  5rem 0 0;
    padding: 4rem 2rem;
 }

 .modalBox img{
    position: relative;
    top: 40px;
    width: 250px;
    max-width: 40vw;
    height: auto;

 }
 .dataDetails .buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid gray;

 }
 
 .dataDetails button{
    background-color: transparent;
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: .3s ease;
    padding: 10px;
 }
 .dataDetails button:hover{
    background-color: rgba(103, 143, 238, 0.2);
    border-radius: 10px;

 }
 .items{
    padding-top: 1rem;
 }
 .groupItems{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100px;
 }
 .groupItems p:nth-child(1){
    color: gray;
 }
.show { display: block; }
.button { text-transform: uppercase; }
.button:hover { cursor: pointer; background-color: #fffff0;}

.close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
}
.close:before, 
.close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 20px;
    background-color: #e04962;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
.close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}